flask
mitmproxy==4.0.4
genson==0.2.1
requests==2.13.0
fire==0.1.0
flask-socketio
flask-restful
Flask-SQLAlchemy
beautifulsoup4
pytest
portpicker
colorama
packaging
cryptography>=3.3.2 # not directly required, pinned by Snyk to avoid a vulnerability